<a href="https://colab.research.google.com/github/DanielOspinaMartin/Chicago-crashes/blob/main/Choques_en_chicago.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
chicago_data = 'https://raw.githubusercontent.com/terranigmark/curso-analisis-exploratorio-datos-platzi/main/Traffic_Crashes1.csv'
df_chicago = pd.read_csv(chicago_data,error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27961 entries, 0 to 27960
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     27961 non-null  int64
 1   CRASH_RECORD_ID                27961 non-null  object
 2   RD_NO                          27713 non-null  object
 3   CRASH_DATE_EST_I               2117 non-null   object
 4   CRASH_DATE                     27961 non-null  object
 5   POSTED_SPEED_LIMIT             27961 non-null  int64
 6   TRAFFIC_CONTROL_DEVICE         27961 non-null  object
 7   DEVICE_CONDITION               27961 non-null  object
 8   WEATHER_CONDITION              27961 non-null  object
 9   LIGHTING_CONDITION             27961 non-null  object
 10  FIRST_CRASH_TYPE               27961 non-null  object
 11  TRAFFICWAY_TYPE                27961 non-null  object
 12  LANE_CNT                       12418 non-null  float64
 13  ALIGNMENT                      27961 non-null  object
 14  ROADWAY_SURFACE_COND           27961 non-null  object
 15  ROAD_DEFECT                    27961 non-null  object
 16  REPORT_TYPE                    27294 non-null  object
 17  CRASH_TYPE                     27961 non-null  object
 18  INTERSECTION_RELATED_I         6155 non-null   object
 19  NOT_RIGHT_OF_WAY_I             1356 non-null   object
 20  HIT_AND_RUN_I                  7952 non-null   object
 21  DAMAGE                         27961 non-null  object
 22  DATE_POLICE_NOTIFIED           27961 non-null  object
 23  PRIM_CONTRIBUTORY_CAUSE        27961 non-null  object
 24  SEC_CONTRIBUTORY_CAUSE         27961 non-null  object
 25  STREET_NO                      27961 non-null  int64
 26  STREET_DIRECTION               27960 non-null  object
 27  STREET_NAME                    27961 non-null  object
 28  BEAT_OF_OCCURRENCE             27960 non-null  float64
 29  PHOTOS_TAKEN_I                 341 non-null    object
 30  STATEMENTS_TAKEN_I             564 non-null    object
 31  DOORING_I                      99 non-null     object
 32  WORK_ZONE_I                    158 non-null    object
 33  WORK_ZONE_TYPE                 125 non-null    object
 34  WORKERS_PRESENT_I              41 non-null     object
 35  NUM_UNITS                      27961 non-null  int64
 36  MOST_SEVERE_INJURY             27908 non-null  object
 37  INJURIES_TOTAL                 27910 non-null  float64
 38  INJURIES_FATAL                 27910 non-null  float64
 39  INJURIES_INCAPACITATING        27910 non-null  float64
 40  INJURIES_NON_INCAPACITATING    27910 non-null  float64
 41  INJURIES_REPORTED_NOT_EVIDENT  27910 non-null  float64
 42  INJURIES_NO_INDICATION         27910 non-null  float64
 43  INJURIES_UNKNOWN               27910 non-null  float64
 44  CRASH_HOUR                     27961 non-null  int64
 45  CRASH_DAY_OF_WEEK              27961 non-null  int64
 46  CRASH_MONTH                    27961 non-null  int64
 47  LATITUDE                       27800 non-null  float64
 48  LONGITUDE                      27800 non-null  float64
 49  LOCATION                       27800 non-null  object
 50  date_real                      27961 non-null  object
dtypes: float64(11), int64(7), object(33)
memory usage: 10.9+ MB

**I decided to see which streets had the most crashes with injuries or tow due to crashs and without injuries**

That is why I filtered the data set in one data set with all the crashes with injuries or tow due to crashs and another one with the the data of all the crahes without injuries

In [ ]:
df_chicagof1 = df_chicago[df_chicago['CRASH_TYPE'] == 'INJURY AND / OR TOW DUE TO CRASH']
df_chicagof2 = df_chicago[df_chicago['CRASH_TYPE'] == 'NO INJURY / DRIVE AWAY']

In [ ]:
df_chicagof1.head()

,Unnamed: 0,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,...,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION,date_real
16,104306,2b0dc605e87abad4136b4dca1ca71765e1a26d5ed871b6...,JA200572,NaN,2017-03-25 21:36:00,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,RAIN,"DARKNESS, LIGHTED ROAD",...,1.0,1.0,0.0,21,7,3,41.759098,-87.566315,POINT (-87.566314986034 41.759098297286),2017-03-25
18,307268,a8d2df44f9358af12b1940f33ec7e9dd9ee6b21881bb9c...,JD155331,NaN,2020-02-17 18:05:00,30,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",...,0.0,4.0,0.0,18,2,2,41.825164,-87.600447,POINT (-87.600447375568 41.825164033389),2020-02-17
23,443521,fdbda6332f3f7716f6385573ae55faf28ca066885bc6a6...,JB278504,NaN,2018-05-25 13:30:00,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,...,0.0,3.0,0.0,13,6,5,41.969161,-87.657668,POINT (-87.657667996121 41.969161382804),2018-05-25
28,407622,e7524beaa5ff4cf326cb9b83dfb5d3c30097f2f5df12f9...,HZ444716,NaN,2016-09-22 10:45:00,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,...,1.0,0.0,0.0,10,5,9,41.767493,-87.589341,POINT (-87.589341469508 41.767493239096),2016-09-22
31,60247,0fe22e54c001663c0d4d5f795a7bbe09421310ea9c46b0...,JA372192,NaN,2017-08-01 06:30:00,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,...,0.0,2.0,0.0,6,3,8,41.894612,-87.774534,POINT (-87.774533743943 41.894611515375),2017-08-01

In [ ]:
df_chicagof2.head()

,Unnamed: 0,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,...,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION,date_real
0,290702,9e97e92753166de921a0e87199513aa841142c6fbb3a1e...,JA154528,NaN,2017-02-14 10:00:00,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,...,0.0,1.0,0.0,10,3,2,42.001676,-87.666364,POINT (-87.666364005301 42.001675862416),2017-02-14
1,405524,e5fe82ab7757d630a7f79927113bc63b5bede0cda74665...,JC391213,NaN,2019-08-13 19:12:00,35,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,...,0.0,8.0,0.0,19,3,8,41.940041,-87.650923,POINT (-87.650923222567 41.940040917032),2019-08-13
2,261834,8c8ea6db9e1950765419429e2732ba5598fc6f87ac9e0c...,JC273287,NaN,2019-05-22 08:30:00,25,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,RAIN,DAYLIGHT,...,0.0,2.0,0.0,8,4,5,41.955854,-87.710645,POINT (-87.710644534923 41.955853610383),2019-05-22
3,38519,02671b7d36a9d189d607778816fec23bbb2e5ac3cd3039...,JA307115,NaN,2017-06-14 16:50:00,0,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,...,0.0,2.0,0.0,16,4,6,41.863734,-87.676313,POINT (-87.676312689993 41.863734390899),2017-06-14
4,420197,ef1b1d450f65c6d16245dffdd3304d93b8be7d7bbf47f3...,JB247942,NaN,2018-05-03 08:35:00,30,NO CONTROLS,NO CONTROLS,RAIN,DAYLIGHT,...,0.0,2.0,0.0,8,5,5,41.851794,-87.695223,POINT (-87.695223114296 41.851794251516),2018-05-03

**Which street has the biggest quantity of crashes with injuries or tow due to crash?.**

In [ ]:
tab6 = pd.crosstab(index =df_chicagof1['STREET_NAME'],columns='frecuencia INJURY AND / OR TOW DUE TO CRASH' ).sort_values('frecuencia INJURY AND / OR TOW DUE TO CRASH',axis=0)
tab6

col_0        frecuencia INJURY AND / OR TOW DUE TO CRASH
STREET_NAME
ROOT ST                                                1
ST CLAIR ST                                            1
KASSON AVE                                             1
ASTOR ST                                               1
JONQUIL TER                                            1
...                                                  ...
CICERO AVE                                           131
HALSTED ST                                           133
ASHLAND AVE                                          149
PULASKI RD                                           171
WESTERN AVE                                          177

[684 rows x 1 columns]

In [ ]:
tab6['frecuencia INJURY AND / OR TOW DUE TO CRASH'].sum()

6730

In [ ]:
tab6_1 = tab6[tab6['frecuencia INJURY AND / OR TOW DUE TO CRASH'] >= 7]
tab6_1.sum()

In [ ]:
tab7 = pd.crosstab(index =df_chicagof2['STREET_NAME'],columns='frecuencia NO INJURY / DRIVE AWAY' ).sort_values('frecuencia NO INJURY / DRIVE AWAY',axis=0)
tab7

col_0          frecuencia NO INJURY / DRIVE AWAY
STREET_NAME
ZEMKE RD                                       1
CEDAR ST                                       1
CATHERINE AVE                                  1
CANFIELD AVE                                   1
CALHOUN PL                                     1
...                                          ...
HALSTED ST                                   426
CICERO AVE                                   446
ASHLAND AVE                                  452
PULASKI RD                                   526
WESTERN AVE                                  595

[1022 rows x 1 columns]

In [ ]:
tab7_1 = tab7[tab7['frecuencia NO INJURY / DRIVE AWAY'] >= 16]
tab7_1

col_0            frecuencia NO INJURY / DRIVE AWAY
STREET_NAME
ST LAWRENCE AVE                                 16
BARRY AVE                                       16
KENMORE AVE                                     16
PARNELL AVE                                     16
RICHMOND ST                                     16
...                                            ...
HALSTED ST                                     426
CICERO AVE                                     446
ASHLAND AVE                                    452
PULASKI RD                                     526
WESTERN AVE                                    595

[259 rows x 1 columns]

In [ ]:
tab7_1.sum()

col_0
frecuencia NO INJURY / DRIVE AWAY    17744
dtype: int64

In [ ]:
df_chicagof3 = df_chicago.groupby(['STREET_NAME','CRASH_TYPE']).sum()
df_chicagof3

                                              Unnamed: 0  POSTED_SPEED_LIMIT  \
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY               1412247                 145
100TH ST    INJURY AND / OR TOW DUE TO CRASH     1566116                 275
            NO INJURY / DRIVE AWAY               2695607                 340
101ST PL    NO INJURY / DRIVE AWAY                317423                  30
101ST ST    INJURY AND / OR TOW DUE TO CRASH      540868                  65
...                                                  ...                 ...
YALE AVE    NO INJURY / DRIVE AWAY               3305988                 455
YATES AVE   NO INJURY / DRIVE AWAY               1442471                 175
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH     3811027                 535
            NO INJURY / DRIVE AWAY               5358247                 650
ZEMKE RD    NO INJURY / DRIVE AWAY                128282                  30

                                              LANE_CNT  STREET_NO  \
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY                 4.0       6899
100TH ST    INJURY AND / OR TOW DUE TO CRASH      16.0      25040
            NO INJURY / DRIVE AWAY                16.0      26621
101ST PL    NO INJURY / DRIVE AWAY                 0.0         41
101ST ST    INJURY AND / OR TOW DUE TO CRASH       0.0        919
...                                                ...        ...
YALE AVE    NO INJURY / DRIVE AWAY                14.0     138102
YATES AVE   NO INJURY / DRIVE AWAY                 1.0      60980
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH      20.0     140600
            NO INJURY / DRIVE AWAY                30.0     172132
ZEMKE RD    NO INJURY / DRIVE AWAY                 0.0      10255

                                              BEAT_OF_OCCURRENCE  NUM_UNITS  \
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY                        9893.0         11
100TH ST    INJURY AND / OR TOW DUE TO CRASH              5766.0         17
            NO INJURY / DRIVE AWAY                        5496.0         25
101ST PL    NO INJURY / DRIVE AWAY                         511.0          2
101ST ST    INJURY AND / OR TOW DUE TO CRASH              2743.0          4
...                                                          ...        ...
YALE AVE    NO INJURY / DRIVE AWAY                       11752.0         38
YATES AVE   NO INJURY / DRIVE AWAY                        2595.0         11
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH              7161.0         38
            NO INJURY / DRIVE AWAY                        8443.0         46
ZEMKE RD    NO INJURY / DRIVE AWAY                        1654.0          2

                                              INJURIES_TOTAL  INJURIES_FATAL  \
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY                       0.0             0.0
100TH ST    INJURY AND / OR TOW DUE TO CRASH             3.0             0.0
            NO INJURY / DRIVE AWAY                       0.0             0.0
101ST PL    NO INJURY / DRIVE AWAY                       0.0             0.0
101ST ST    INJURY AND / OR TOW DUE TO CRASH             0.0             0.0
...                                                      ...             ...
YALE AVE    NO INJURY / DRIVE AWAY                       0.0             0.0
YATES AVE   NO INJURY / DRIVE AWAY                       0.0             0.0
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH            10.0             0.0
            NO INJURY / DRIVE AWAY                       0.0             0.0
ZEMKE RD    NO INJURY / DRIVE AWAY                       0.0             0.0

                                              INJURIES_INCAPACITATING  \
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY                                0.0
100TH ST    INJURY AND / OR TOW DUE TO CRASH                      0.0
            NO INJURY / DRIVE AWAY                                0.0
101ST PL    NO INJURY / DRIVE AWAY                                0.0
101ST ST    INJURY AND / OR TOW DUE TO CRASH                      0.0
...                                                               ...
YALE AVE    NO INJURY / DRIVE AWAY                                0.0
YATES AVE   NO INJURY / DRIVE AWAY                                0.0
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH                      1.0
            NO INJURY / DRIVE AWAY                                0.0
ZEMKE RD    NO INJURY / DRIVE AWAY                                0.0

                                              INJURIES_NON_INCAPACITATING  \
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY                                    0.0
100TH ST    INJURY AND / OR TOW DUE TO CRASH                          2.0
            NO INJURY / DRIVE AWAY                                    0.0
101ST PL    NO INJURY / DRIVE AWAY                                    0.0
101ST ST    INJURY AND / OR TOW DUE TO CRASH                          0.0
...                                                                   ...
YALE AVE    NO INJURY / DRIVE AWAY                                    0.0
YATES AVE   NO INJURY / DRIVE AWAY                                    0.0
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH                          9.0
            NO INJURY / DRIVE AWAY                                    0.0
ZEMKE RD    NO INJURY / DRIVE AWAY                                    0.0

                                              INJURIES_REPORTED_NOT_EVIDENT  \
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY                                      0.0
100TH ST    INJURY AND / OR TOW DUE TO CRASH                            1.0
            NO INJURY / DRIVE AWAY                                      0.0
101ST PL    NO INJURY / DRIVE AWAY                                      0.0
101ST ST    INJURY AND / OR TOW DUE TO CRASH                            0.0
...                                                                     ...
YALE AVE    NO INJURY / DRIVE AWAY                                      0.0
YATES AVE   NO INJURY / DRIVE AWAY                                      0.0
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH                            0.0
            NO INJURY / DRIVE AWAY                                      0.0
ZEMKE RD    NO INJURY / DRIVE AWAY                                      0.0

                                              INJURIES_NO_INDICATION  \
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY                               9.0
100TH ST    INJURY AND / OR TOW DUE TO CRASH                    19.0
            NO INJURY / DRIVE AWAY                              26.0
101ST PL    NO INJURY / DRIVE AWAY                               1.0
101ST ST    INJURY AND / OR TOW DUE TO CRASH                     6.0
...                                                              ...
YALE AVE    NO INJURY / DRIVE AWAY                              28.0
YATES AVE   NO INJURY / DRIVE AWAY                              12.0
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH                    29.0
            NO INJURY / DRIVE AWAY                              46.0
ZEMKE RD    NO INJURY / DRIVE AWAY                               2.0

                                              INJURIES_UNKNOWN  CRASH_HOUR  \
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY                         0.0          82
100TH ST    INJURY AND / OR TOW DUE TO CRASH               0.0         105
            NO INJURY / DRIVE AWAY                         0.0         139
101ST PL    NO INJURY / DRIVE AWAY                         0.0           3
101ST ST    INJURY AND / OR TOW DUE TO CRASH               0.0          24
...                                                        ...         ...
YALE AVE    NO INJURY / DRIVE AWAY                         0.0         234
YATES AVE   NO INJURY / DRIVE AWAY                         0.0          89
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH               0.0         254
            NO INJURY / DRIVE AWAY                         0.0         298
ZEMKE RD    NO INJURY / DRIVE AWAY                         0.0           8

                                              CRASH_DAY_OF_WEEK  CRASH_MONTH  \
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY                           19           53
100TH ST    INJURY AND / OR TOW DUE TO CRASH                 33           62
            NO INJURY / DRIVE AWAY                           50           61
101ST PL    NO INJURY / DRIVE AWAY                            4           12
101ST ST    INJURY AND / OR TOW DUE TO CRASH                 13            5
...                                                         ...          ...
YALE AVE    NO INJURY / DRIVE AWAY                           64          111
YATES AVE   NO INJURY / DRIVE AWAY                           30           41
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH                 59          139
            NO INJURY / DRIVE AWAY                           70          154
ZEMKE RD    NO INJURY / DRIVE AWAY                            6            8

                                                LATITUDE    LONGITUDE
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY            250.269614  -525.824653
100TH ST    INJURY AND / OR TOW DUE TO CRASH  375.422241  -788.044436
            NO INJURY / DRIVE AWAY            500.559407 -1050.843802
101ST PL    NO INJURY / DRIVE AWAY             41.709811   -87.621944
101ST ST    INJURY AND / OR TOW DUE TO CRASH   83.421325  -175.269801
...                                                  ...          ...
YALE AVE    NO INJURY / DRIVE AWAY            709.805185 -1489.726961
YATES AVE   NO INJURY / DRIVE AWAY            250.260505  -525.387107
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH  751.554552 -1576.193692
            NO INJURY / DRIVE AWAY            960.457113 -2014.027104
ZEMKE RD    NO INJURY / DRIVE AWAY             41.994793   -87.882708

[1706 rows x 18 columns]

In [ ]:
df_chicagof3.loc[:,['NUM_UNITS','INJURIES_TOTAL','INJURIES_FATAL']]

                                              NUM_UNITS  INJURIES_TOTAL  \
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY                   11             0.0
100TH ST    INJURY AND / OR TOW DUE TO CRASH         17             3.0
            NO INJURY / DRIVE AWAY                   25             0.0
101ST PL    NO INJURY / DRIVE AWAY                    2             0.0
101ST ST    INJURY AND / OR TOW DUE TO CRASH          4             0.0
...                                                 ...             ...
YALE AVE    NO INJURY / DRIVE AWAY                   38             0.0
YATES AVE   NO INJURY / DRIVE AWAY                   11             0.0
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH         38            10.0
            NO INJURY / DRIVE AWAY                   46             0.0
ZEMKE RD    NO INJURY / DRIVE AWAY                    2             0.0

                                              INJURIES_FATAL
STREET_NAME CRASH_TYPE
100TH PL    NO INJURY / DRIVE AWAY                       0.0
100TH ST    INJURY AND / OR TOW DUE TO CRASH             0.0
            NO INJURY / DRIVE AWAY                       0.0
101ST PL    NO INJURY / DRIVE AWAY                       0.0
101ST ST    INJURY AND / OR TOW DUE TO CRASH             0.0
...                                                      ...
YALE AVE    NO INJURY / DRIVE AWAY                       0.0
YATES AVE   NO INJURY / DRIVE AWAY                       0.0
YATES BLVD  INJURY AND / OR TOW DUE TO CRASH             0.0
            NO INJURY / DRIVE AWAY                       0.0
ZEMKE RD    NO INJURY / DRIVE AWAY                       0.0

[1706 rows x 3 columns]